@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: theme(colors.slate.900);
  transition: background-color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}

.link {
  font-size: theme(fontSize.xl);
  padding: 0px 0.5rem 0px 0.5rem;
  font-weight: bold;
}

.isActive {
  color: theme(colors.blue.700);
  text-decoration: underline;
}

.link:hover {
  color: theme(colors.blue.400);
}

.btn {
  border: theme(borderRadius.DEFAULT);
  font-size: theme(fontSize.base);
  font-weight: bold;
  border-radius: theme(borderRadius.md);
  background-color: theme(colors.blue.700);
}

.btn:hover {
  background-color: theme(colors.blue.500);
}
